* {
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}
li {
    margin-right: 20px;
}
.content {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
}
.sub-section {
    width: 700px;
}
footer {
    display: flex;
    position: absolute;
    bottom: 100px;
    left: 30px;
}
.alert-info {
    display: none;
}
@media screen and (max-width: 350px) {
    .alert-info {
        display: flex;
        justify-content: center;
        background-color: #CCFFFF;
        padding: 10px;
        border-color: lightgray;
        border-width: thin;
        border-style: solid;
    }
    .alert-info a {
        text-decoration: none;
        margin: 0;
        color: black;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }
    li {
        background-color: lightgray;
        padding: 10px 135px;
        margin: 0 auto;
    }
    .header-img img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 15px;
        width: 100%;
        height: auto;
    }
    .content {
        flex-flow: wrap column;
    }
    .main {
        width: 100%;
    }
    .sub-section {
        width: 100%;
    }
    footer {
        bottom: -6px;
        left: 8px;
    }
}